.modalBackground {
  width: 65%;
  min-width: 880px;
  height: 800px;
  background-color: rgba(200, 200, 200);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modalContainer {
  width: fit-content;
  height: 600px;
  /* height: 50%; */
  /* align-self: auto; */
  border-radius: 12px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  overflow-y: scroll;
  margin: 40px;
}
.modalContainer::-webkit-scrollbar {
  display: none;
}

.starsAndRec {
  display: flex;
  flex-direction: column;
}
.starsText{
  display: flex;
}
.recommend {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.radios {
  display: flex;
  flex-direction: column;
}

.cat {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.sep{
  border-top: solid;
  border-color: gainsboro;
}

.catRadios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.indRadios {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 20%;
  justify-content: flex-end;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.form {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
.submit{
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px;
}

.submit:hover{
  color: white;
  background-color: darkgreen;
}

.cancel{
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px;
}

.cancel:hover{
  color: white;
  background-color: darkgreen;
}

.nameform{
  width:25%
}

.picModal{
  position: absolute;
}
.picmodal{
  height: -webkit-fill-available;
}

.errorText{
  color: red;
  font-style: italic;
}