* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.qna {
  margin: 50px auto;
  padding-left: 50px;
}

.form {
  display: flex;
  flex-direction: row;
}

.search_field {
  padding: 10px 35px 10px 15px;
  height: 40px;
  width: 60%;
}

.search_button {
  background: transparent;
  border: none;
  outline: none;
}

.search_button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-left: -800px;
}

.questions_list {
  /* text-align: center; */
}

.buttons {
  /* text-align: center; */
}