* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(90, 90, 90);
}

button {
  align-items: center;
  border: 1px solid black;
  background-color: white;
}

.qna {
  width: 100%;
  margin: 20px 0;
}

.title {
  margin-bottom: 5px;
}

.form {
  display: flex;
  flex-direction: row;
}

.search_field {
  align-items: center;
  border: 1px solid black;
  border-radius: .25rem;
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 5px auto;
  width: 100%;
  height: 40px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  vertical-align: baseline;
}

.questions_list {
  display: block;
  margin-top: 15px;
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}
.questions_list::-webkit-scrollbar {
  display: none;
}

.qna_button {
  align-items: center;
  border: 1px solid black;
  background-color: white;
  border-radius: .25rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 13px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 10px 15px 0 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  vertical-align: baseline;
  width: auto;
}

.question_item {
  border-bottom: 1px solid black;
  padding: 7px 0;
}

.question_line {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  /* justify-content: space-between; */
}

.question {
  font-size: 19px;
  font-weight: 600;
}

.question_line {
  font-size: 19px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.q_vote {
  font-size: 12px;
  font-weight: 400;
}

.q_vote button, .answer_vote button {
  font-size: 12px;
  font-weight: 400;
  border: none;
  background-color: white;
  text-decoration: underline;
  cursor: pointer;
}

.answer_line {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.answer {
  font-size: 19px;
  font-weight: 600;
  margin-right: 8px;
}

.answer_answer {
  font-size: 15px;
  font-weight: 400;
}

.answer_info {
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-left: 28px;
}

.answerer {
  display: inline-block;
  margin-right: 3px;
}

.answer_vote {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
}

.answer_imgs {
  margin-left: 28px;
}

.answer_img {
  margin-right: 5px;
  height: 100px;
}

.more_answers {
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin: 8px 0 4px 0;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.modal_background {
  position: absolute;
  top: 1510px;
  width: 72.5%;
  min-width: 860px;
  height: 60%;
  background: rgb(230, 230, 230);
  /* translu */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal_container {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  /* display: flex; */
  /* flex-direction: column; */
  /* padding: 25px; */
}

.close_button {
  border: none;
  font-size: large;
  margin-left: 480px;
}

.modal_title {
  text-align: center;
}

.modal_subtitle {
  text-align: center;
}

.require_text {
  color: red;
  font-size: 11px;
  margin-left: 430px;
}

.required {
  color: red;
  font-size: 11px;
}

.modal_body {
  display: flex;
  flex-direction: row;
}

.email_input {
  width: 260px;
}

.warnings {
  font-size: 9px;
}

.error_message {
  color: red;
  font-size: 11px;
}

.modal_submit {
  cursor: pointer;
  display: block;
  margin: 20px auto;
  align-items: center;
  border: 1px solid black;
  background-color: white;
  border-radius: .25rem;
  font-size: 12px;
  font-weight: 500;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  width: auto;
}

.thumbnails {
  height: 40px;
  margin: 5px;
}

.answer_modal_background {
  position: absolute;
  top: 1510px;
  width: 72.5%;
  min-width: 860px;
  height: 60%;
  background: rgb(230, 230, 230);
  /* translu */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.seller_answer {
  font-weight: bold;
  display: inline-block;
}
