* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.qna {
  margin: 50px auto;
  padding-left: 50px;
  min-width: 40%;
}

.form {
  display: flex;
  flex-direction: row;
}

.search_field {
  padding: 10px 35px 10px 15px;
  height: 40px;
  width: 60%;
}

.search_button {
  background: transparent;
  border: none;
  outline: none;
}

.search_button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-left: -800px;
}

.questions_list {
  max-height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}

.user_photo {
  width: 120px;
  height: 100px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.modal {
  /* position: fixed; */
  background: rgb(224, 224, 224);
  width: 70%;
  height: auto;
}

.thumbnails {
  height: 40px;
  margin: 5px;
}