.Overview_Grid {
  display: grid;
  grid-template-areas:
  "display info"
  "description features";
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  font-size:medium;
  margin-top:20px;
  margin-bottom:20px;

}
.Overview_Grid > div {
  margin:5px;
  font-family: Arial, Helvetica, sans-serif;
}
.DisplaySection {
  grid-area: display;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Details {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content:center;
}
.Description {
  grid-area: description;
  width: 70%;
  left: 25%;
  display:flex;
  flex-direction:column;
  position: relative;
  align-items:flex-start;
  justify-content:center;
}
.FeaturesList {
  border-left: 2px solid black;
  grid-area: features;
  display:flex;
  flex-direction:column;
  width: 200px;
  position: relative;
  align-items:flex-start;
  justify-content:center;
  padding:5%;
}
.info_BigText {
  font-size:xxx-large;
  font-weight:bold;
}
.info_SmallText {
  /* font-size:small; */
  text-transform:uppercase;
}
.price {
  display: inline-flex;
  flex-direction: row;
  justify-items: flex-start;
}
.price_onSale {
  /* font-size:small; */
  text-transform:uppercase;
  text-decoration:line-through;
  color:gray;
  margin-right: 5%;
}
.price_salePrice {
  /* font-size:small; */
  text-transform:uppercase;
  color: red;
  font-weight: bold;
  margin-right: 5%;

}
.ProductInfo > div {
  padding: 2.5px;
}
.desc_BigText {
  font-size:x-large;
  font-weight:bold;
  margin-bottom:5%;
}
.StyleSelector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  width: 300px;
}
.StyleSelector > div {
  display:flex;
  flex-direction: row-reverse;
  z-index:1;
}
.StyleButton {
  width: 60px;
  height: 60px;
  padding: 6px;
  object-fit: cover;
  border-radius: 50%;
}
.StyleButton:hover {
  cursor: pointer;
}
.Check {
  position:absolute;
  justify-content: right;
  align-items: top;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.BigCarousel_Viewport {
  overflow: hidden;
  width: 500px;
  height: 500px;
  position: relative;
}
.BigCarousel_Inner {
  white-space: nowrap;
  display:inline-flex;
  transition: transform 0.3s;
}
.BigCarousel_ImageContainer {
  overflow:hidden;
  width:500px;
  height:500px;
  display:flex;
  align-items:center;
  object-fit:contain;
}
.BigCarousel_Image {
  width:100%;
  height:100%;
  object-fit: contain;
}
.BigCarousel_Controls {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index:1;
  display: flex;
  justify-content: space-between;
}
.BigCarousel_Controls > button {
  margin: 5px;
  background: none;
  border: none;
}
.BigCarousel_Controls > button > img {
  object-fit:contain;
  width: 15px;
  height: 15px;
  filter:invert(66%);
}
.ThumbCarousel {
  position:relative;
  display:flex;
  justify-content:center;
  width:60px;
  height:400px;
}
.ThumbCarousel_Viewport {
  top: 5%;
  overflow: hidden;
  position:relative;
  width: 60px;
  height: 400px;
  z-index:2;
}
.ThumbCarousel_Inner {
  white-space: nowrap;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  flex-direction:column;
  transition: transform 0.3s;
}
.ThumbCarousel_ImageContainer {
  background: none;
  border: none;
  display:flex;
  align-items:center;
  width: 40px;
  height: 40px;
  margin:5px;
}
.ThumbCarousel_Image {
  object-fit:cover;
  width:100%;
  opacity:0.6;
}
.ThumbCarousel_Image_Selected {
  object-fit:cover;
  width: 100%;
  opacity:1;
}
.ThumbCarousel_Controls {
  position: absolute;
  height:90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
}
.ThumbCarousel_Controls > button {
  background: none;
  border: none;
}
.ThumbCarousel_Controls > button > img {
  object-fit:contain;
  width: 15px;
  height: 15px;
  filter:invert(66%);
}
.Actions {
  padding:5px;
  display: flex;
  flex-direction: column;
}
.Actions_Row{
  padding: 2px;
  /* padding-left:7%;
  padding-right:7%; */
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  width: 80%;
  height: 40px;
  font-variant: small-caps;
}
.Actions_Row > div {
  padding: 2.5px;
}
.Actions_Row > div > button {
  width: 100%;
  height: 100%;
  font-size: medium;
  font-variant: small-caps;
  border: 1px solid gray;
  border-radius:5px;
}
.AddToBag{
  width: 40%;
}
.AddToOutfit{
  width: 60%;
}
.SelectSize{
  width: 60%;
}
.SelectQuantity {
  width: 40%;
}
.Actions_Row > div > select {
  width: 100%;
  height: 100%;
  /* border: none; */
  background: none;
  border: 1px solid gray;
  border-radius:5px;
}
.SocialsIconContainer {
  padding: 10px;
  width: 100%;
  display: inline-flex;
  justify-content:space-around;
}
.Socials_Icon {
  width: 25px;
  height: 25px;
  margin: 10px;
  object-fit: cover;
  border-radius: 20%;
  filter:invert(25%);
}