.Overview > div {
  font-family: Arial, Helvetica, sans-serif;
  font-size:8px;
  /* color: blue; */
}
.Overview_Top {
  display:flex;
  justify-content: center;
}
.Overview_Bottom {
  display:flex;
  justify-content: center;
}
.info_BigText{
  font-size:20px;
  font-weight:bold;
}
.info_SmallText{
  font-size:8px;
  text-transform:uppercase;
}
.price_onSale{
  font-size:8px;
  text-transform:uppercase;
  text-decoration:line-through;
}
.price_salePrice{
  font-size:8px;
  text-transform:uppercase;
  color: red;
  font-weight: bold;
}
.ProductInfo > div {
  padding: 5px;
}
.desc_BigText{
  font-size:12px;
  font-weight:bold;
}
.desc_SmallText{
  font-size:8px;
}
.Description{
  display:flex;
  flex-direction:column;
  width: 200px;
  position: relative;
  align-items:flex-start;
  justify-content:center;
}
.FeaturesList{
  display:flex;
  flex-direction:column;
  width: 200px;
  position: relative;
  align-items:flex-start;
  justify-content:center;
  padding:1%;
}
.StyleButtonContainer {
  display: flex;
  flex-direction: row;
  width: 200px;
  flex-wrap: wrap;
  padding: 10px;
}
.StyleButtonContainer > div {
  display:flex;
  flex-direction: row-reverse;
}
.StyleButton {
  width: 40px;
  height: 40px;
  padding: 4px;
  object-fit: cover;
  border-radius: 50%;
}
.StyleButton:hover {
  cursor: pointer;
}
.Check{
  position:absolute;
  justify-content: right;
  align-items: top;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.FeaturedImage {
  width: 200px;
  height: 200px;
  padding: 10px;
  object-fit: cover;
}
.Actions {
  display: flex;
  flex-direction: column;
}
.Actions_Row{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items:stretch;
}
.Actions_Row > div {
  padding: 2px;
}
