
.topLevel{
  display: flex;
  justify-content: center;;
}

.reviewRatingsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: fit-content;
  margin-bottom: 25px;
}

.statsTab {
  border-style: solid;
  border-color: black;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-right: 20px;
  height: fit-content;

}

.statsStars {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.statsRec {
  flex: 2;
}

.statsBars {
  flex: 3;
}
.statsFit {
  flex: 4;
}

.charHolder{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: stretch;
}

.reviewsContainer{
  flex: 2;
}

.reviewList{
  border: black;
  height: 300px;
  /* overflow: overlay; */
  overflow-y: scroll;
}

.statsFlex {
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 5;
}



.starContainer{
  width: fit-content;
}
.barHolder{
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 1;
  padding: 1px;

}
.barNumber{
  grid-column: 1;

  padding-left: 10%;
}
.barBar{
  border: solid;
  grid-column: 2 / 5
}

.charBar{
  border: solid black;
}


.statsComfort {
  grid-area: 5/1/6/5;
}



.reviewsList {
  border-style: solid;
  border-color: black;
  padding: 25px;
}

.reviewItem{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: darkslategray;
  border: solid;
  border-color: gainsboro;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.reviewTopRow {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: darkslategray;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}
.reviewSum{
  font-size: 25px;
  font-weight: bold;
}
.reviewBod{
  justify-content: center;
  display: flex;
  height: fit-content;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

.buttons{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.viewButton{
  padding:10px 15px 10px 15px;
  font-size: 15px;
  background-color: rgb(44, 235, 209);
  color:white;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.addButton{
  padding:10px 15px 10px 15px;
  font-size: 15px;
  background-color: rgb(10, 90, 194);
  color:white;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.blueText {
  color: blue;
}
