
.topLevel{
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}


.reviewRatingsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* max-height: fit-content; */
  /* margin-bottom: 25px; */
}

.statsTab  {
  /* border-style: solid; */
  /* border-color: black; */
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* margin-right: 20px; */
  height: fit-content;
  width: 25%;
}

.statsStars  {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  font-size: 25px;
}
.statsRec {
  text-align: center;
}

.statsBars {

}
.statsFit {
  flex: 4;
}

.charHolder{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: stretch;
}

.reviewsContainer{
  /* flex: 2;
   */
   width: 70%;
}

.reviewList{
  border: black;
  min-height: 360px;
  /* height: 360px; */
  max-height: 670px;
  /* overflow: overlay; */
  overflow-y: scroll;
}

.reviewList::-webkit-scrollbar {
  display: none;
}

.statsFlex {
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 5;
}



.starContainer{
  width: fit-content;
}
.barHolder{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  /* padding: 1px; */
  padding-top: 5px;
  padding-bottom: 5px;

}
.barNumber{
  grid-column: 1;
  padding-left: 10%;
  height:fit-content;
  width:fit-content;
  cursor: pointer;
}

.buttonNumero{
  font-size:15px;
}

.clearContainer{
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.clearContainerButton{
  font-size: 15px;
  border: none;
}
.clearContainerButton:hover{
  font-size: 16px;
}

/* .barNumero:hover{
  font-size: 20px;
  background-color:skyblue;
} */

.filterButton{
  padding: 0;
  border: none;
  background: none;
  font-size: 15px;
  border-bottom: solid;
}
.topLevelPoint{
  box-sizing: content-box;
  width: 100%;
}

.midLevelPoint{
  width: 90%;
  margin: 0;
  padding: 0;
  border: 0;
}

.barBar{
  background: grey;
  grid-column: 2;
}

.charBar{
  border: solid black;
}


.statsComfort {
  grid-area: 5/1/6/5;
}



.reviewsList {
  border-style: solid;
  border-color: black;
  padding: 25px;
}

.reviewItem{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: darkslategray;
  border: solid;
  border-color: gainsboro;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}


.paraP:hover{
  color: skyblue;
  font-style: italic;
  cursor: pointer;
}

.reviewTopRow {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: darkslategray;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}
.reviewSum{
  font-size: 25px;
  font-weight: bold;
}
.reviewBod{
  justify-content: center;
  display: flex;
  height: fit-content;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

.buttons{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.viewButton{
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px;
}

.viewButton:hover{
  color: white;
  background-color: darkgreen;
}

.addButton{
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px;
}

.addButton:hover{
  color: white;
  background-color: darkgreen;
}

.photoList {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.photo {
  height: 50px;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}



.reBar {
  display: flex;
  flex-direction: column;
}
.unitGrid{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.chaName{
  font-weight: bold;
}

.BarHolders{
  width: 99%;
  display: flex;
  flex-direction: column;
}

.marginBar{
  font-size: 25px;
  /* margin-right: 20px; */
  width: 75%;
  /* margin-left: -5%; */
  margin-left: auto;
}


.grayBar{
  width: 100%;
  height: 15px;
  background: gray;
  padding-right: 10px;
  border-right-width: 5px;
}

.charArrayHolder{
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
}

.help{
  display: flex;
}

.imagebutton{
  display: none;
  cursor: pointer;
  border: none;
  background: none;
}
.blueText {
  color: blue;
}
